services:
  steedos:
    image: steedos/steedos-enterprise:2.7
    container_name: steedos
    restart: unless-stopped
    environment:
      - PORT=5000
    ports:
      - "5000:5000"
    volumes:
      - steedos-storage:/steedos-storage
  
  caddy:
    image: caddy:latest
    container_name: caddy-proxy
    restart: unless-stopped
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - ./Caddyfile:/etc/caddy/Caddyfile
      - caddy_data:/data
      - caddy_config:/config
    depends_on:
      - steedos

volumes:
  caddy_data:
  caddy_config:
  steedos-storage: