services:

  minio:
    image: quay.io/minio/minio:RELEASE.2025-04-03T14-56-28Z
    container_name: minio
    restart: unless-stopped
    ports:
      - "9000:9000"
      - "9001:9001"
    environment:
      - MINIO_ROOT_USER=admin
      - MINIO_ROOT_PASSWORD=oarnud9I
    volumes:
      - minio-data:/data
    command: server /data --console-address ":9001"
  
  caddy:
    image: caddy:latest
    container_name: caddy-proxy
    restart: unless-stopped
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - ./Caddyfile:/etc/caddy/Caddyfile
      - caddy_data:/data
      - caddy_config:/config
    depends_on:
      - minio

volumes:
  caddy_data:
  caddy_config:
  minio-data: